<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome, {{ username }}!</h2>
        <p>This is your Dashboard.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul> 
                    {% for category, message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        <h3>Your Files</h3>
        <ul>
            {% for filename, size, date in files %}
            <li>
                <a href="{{ url_for('download_file', filename=filename)}}">{{ filename }}</a>
                ({{ size }} bytes, uploaded {{ date }})
            </li>
            {% endfor %}
        </ul>
        <a href="/logout">Logout</a>
    </body>
</html>